# AT configuration
# Go ahead, break my neck, take the fluid from my spine

public net.minecraft.client.gui.GuiIngame field_92017_k                     # remainingHighlightTicks
public net.minecraft.client.gui.GuiIngame field_92016_l                     # highlightingItemStack

public net.minecraft.client.multiplayer.PlayerControllerMP field_78774_b    # netClientHandler
public net.minecraft.client.multiplayer.PlayerControllerMP func_78750_j()V  # syncCurrentPlayItem

public net.minecraft.client.settings.KeyBinding field_74513_e               # pressed
public net.minecraft.client.settings.KeyBinding field_151474_i              # pressTime